<p id="notice"><%= notice %></p>

<h1>Listing Rails</h1>

<table>
  <thead>
    <tr>
      <th>G</th>
      <th>Model</th>
      <th>Restaurant</th>
      <th>Name</th>
      <th>Postal code</th>
      <th>City</th>
      <th>Addr</th>
      <th>Tel</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Point</th>
      <th>Url</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rails.each do |rail| %>
      <tr>
        <td><%= rail.g %></td>
        <td><%= rail.model %></td>
        <td><%= rail.restaurant %></td>
        <td><%= rail.name %></td>
        <td><%= rail.postal_code %></td>
        <td><%= rail.city %></td>
        <td><%= rail.addr %></td>
        <td><%= rail.tel %></td>
        <td><%= rail.lat %></td>
        <td><%= rail.lon %></td>
        <td><%= rail.point %></td>
        <td><%= rail.url %></td>
        <td><%= rail.image_url %></td>
        <td><%= link_to 'Show', rail %></td>
        <td><%= link_to 'Edit', edit_rail_path(rail) %></td>
        <td><%= link_to 'Destroy', rail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rail', new_rail_path %>
