<p id="notice"><%= notice %></p>

<p>
  <strong>G:</strong>
  <%= @rail.g %>
</p>

<p>
  <strong>Model:</strong>
  <%= @rail.model %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @rail.restaurant %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rail.name %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @rail.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @rail.city %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @rail.addr %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @rail.tel %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @rail.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @rail.lon %>
</p>

<p>
  <strong>Point:</strong>
  <%= @rail.point %>
</p>

<p>
  <strong>Url:</strong>
  <%= @rail.url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @rail.image_url %>
</p>

<%= link_to 'Edit', edit_rail_path(@rail) %> |
<%= link_to 'Back', rails_path %>
